.list-item {
    background-color: #3977AD;

    border: 5px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 50px;
    padding: 5px;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


}

.commentscard{
  padding-right: 30px;
}
.songs-list li{
  border: 10px;
}
.songs-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.songs-list h2 {
  margin: 0;
}

.songs-list p {
  line-height: 22px;
  margin: 6px 0 12px;
}

.songs-list button {
  background: navy;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 12px;
  outline: none;
  padding: 4px 12px;
  transition: all 400ms ease-in-out;
}

.songs-list button:hover {
  background: crimson;
}

p:hover {
  background: rgba(0,0,0,0.3);
}
