.creatorBoard {
    background-color: rgb(153, 147, 149);
    width: 235px;
}

.lists {
    background: rgb(179, 25, 71);
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    border: 20px;
    border-block-end-color: black; 
    width: 205px;
    
}

