.creatorBoard {
    /* background-color: rgb(153, 147, 149); */
    margin-top: 0;
}

.y-wrap {
  margin: 0 auto;
  width: 90%;
}

.lists {
    /* background: rgb(179, 25, 71); */
    margin-bottom: 8px;
    padding: 8px;
}



