.onBoardDescription{
    width: 100%;
    background-color: #fd5c63;
    margin: auto;
    height: 100%;
    text-align: center;
    float: left;
}

.lyricbanner{
    margin: 0px;
    margin: auto;
    width: 50%;
    text-align: center;
}

ul{
  list-style-type: none;
  color: white;
  text-shadow: 1px 1px 1px black;
}

hr{
  border-top: 3px double black;
  margin: 20px;
  color: white;
}

.register{
  margin: 5px;
  color: white;
  width: auto;
  border: 4px;
}

h2{
  color: white;
  text-shadow: 1px 1px 1px black;
  margin: 0px;
}

.login{
  background: url(noteonboard.png);

}

body{
  background-color: #fd5c63;
  text-align: center;
}

.return-login{
  margin: 5px;
  color: white;
  width: auto;
  border: 4px;
}

.registersubmit{
  padding: 4px;
  
  color: white;
}
